<mat-toolbar color="primary" role="heading">
  <span>Price Recommendation</span>
</mat-toolbar>
<mat-sidenav-container class="main-container">
  <mat-sidenav position="start" mode="side" opened="true" class="sidenav">
    <mat-list>
      <a mat-list-item routerLink="optimize" routerLinkActive="link-active">
        <mat-icon matListIcon>bolt</mat-icon>
        Optimizer</a
      >
      <a mat-list-item routerLink="planner" routerLinkActive="link-active">
        <mat-icon matListIcon>check</mat-icon>
        Planner</a
      >
      <a mat-list-item routerLink="kpi" routerLinkActive="link-active">
        <mat-icon matListIcon>data_thresholding</mat-icon>
        KPIs
      </a>
    </mat-list>
  </mat-sidenav>
  <mat-divider [vertical]="true"></mat-divider>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
